.flex {
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin overlay($color,$opacity) {
  background-color: $color;
  opacity: $opacity;
  position: relative;
  height: 100%;
  width: 100%;
  z-index:999;
}

.app-intro{
  @extend .flex;
  background-image: url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b?auto=format&fit=crop&w=1309&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D%201309w');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 93vh;
}

.app-intro-content{
  @extend .flex;
  flex-flow: column;
  padding: 15px;
  color: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.app-intro-content .form-control{
  width: 250px;
  border-radius: 0;
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg,rgba(255, 106, 0, 0.7),rgba(238, 9, 121, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg,rgba(255, 106, 0, 0.7),rgba(238, 9, 121, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 0;
  color: #fff;
  height: 40px;
  padding: 10px 12px;
}
.app-intro-content .dropdown-menu{
  width: 100%;
  border-radius: 0;
  padding: 0;
  margin-top: 0;
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg,rgba(255, 106, 0, 0.7),rgba(238, 9, 121, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg,rgba(255, 106, 0, 0.7),rgba(238, 9, 121, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 0;
  height: 200px;
}

.app-intro-content .dropdown-menu>li>a {
  display: block;
  padding: 6px;
  border-bottom: 1px solid #bbb6b6;
  clear: both;
  font-weight: 400;
  line-height: 1.428571;
  color: #000;
  white-space: nowrap;
  text-transform: capitalize;
}

.onboarding-container{
  @extend .flex;
  background-color: #eee;
  height: 93vh;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.onboarding{
  @extend .flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .onboarding-container{
    height: auto;
    padding: 60px;
  }
  .onboarding-container h2{
    font-size: 25px;
  }
  .onboarding{
    flex-flow: row;
    flex-wrap: wrap;
  }
  .app-intro{
    height: 300px;
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.random-word-container{
  @extend .flex;
  background-color: #fff;
  height: 93vh;
  padding: 30px 15px;
  overflow-y: scroll;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .random-word-container{
    height: auto;
    overflow-y: auto;
  }
}

.random-words{
  @extend .flex;
  align-items: stretch;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center;
}


/* Common button styles */
.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Sizes */
.button--size-s {
	font-size: 14px;
}
.button--size-m {
	font-size: 16px;
}
.button--size-l {
	font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button--text-thin {
	font-weight: 300;
}
.button--text-medium {
	font-weight: 500;
}
.button--text-thick {
	font-weight: 600;
}
.button--round-s {
	border-radius: 5px;
}
.button--round-m {
	border-radius: 15px;
}
.button--round-l {
	border-radius: 40px;
}

/* Borders */
.button--border-thin {
	border: 1px solid;
}
.button--border-medium {
	border: 2px solid;
}
.button--border-thick {
	border: 3px solid;
}


/* Saqui */
.button.button--saqui {
	overflow: hidden;
	color: #fff;
	background: #37474f;
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.button--saqui.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--saqui::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  cursor: pointer;
	height: 100%;
	padding: 1em 2em;
	color: #37474f;
	-webkit-transform-origin: -25% 50%;
	transform-origin: -25% 50%;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transition: -webkit-transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
}
.button--saqui.button--inverted::after {
	color: #fff;
}
.button--saqui:hover::after,
.button--saqui:hover {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.button--saqui:hover {
	background-color: #7986cb;
	color: #7986cb;
}
.button--saqui.button--inverted:hover {
	background-color: #3f51b5;
	color: #3f51b5;
}
.button--saqui:hover::after {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
}
