$theme-color: #fff;
// = = = = = = = = = = =
// Header
// = = = = = = = = = = =

.transparent-header {
  transition: all 0.5s ease-in;
  background-color: transparent;
  border: transparent;
}

.black-header {
  transition: all 0.5s ease-in;
  // background-color: #000;
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover {
  transition: all .2s ease-in;
  // background: #833ab4;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: -webkit-linear-gradient(to bottom,  #fc00ff, #00dbde);
  // background: linear-gradient(to bottom,  #fc00ff, #00dbde);
  color: $theme-color;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: 400;
  background-clip: text;
}
.navbar-default .navbar-nav>li>a:focus{
  color: #FFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
  background-color:transparent;
  color:  $theme-color;
}
.navbar-default .navbar-nav>.active>a:hover{
  color: $theme-color;
  background: transparent;
}

.navbar-brand>img{
  margin-top: -6px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent;
}
.navbar-default .navbar-toggle{
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: $theme-color;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: #fff;
}
